<div class="about clearfixsmall">
  <div class="about-left-one clearfixsmall">
    <h4>About us</h4>
    <h5 class="green h-left">WE ARE FACING AN ENERGY CRISIS<br>AND THIS ONE IS PERSONAL</h5>
    <p class="left-paragraph">The modern day workplace is in the grip of an energy crisis.
      The relentless ongoing demand of the modern day workplace is leaving employees exhausted,
      overwhelmed and distracted and it’s affecting their ability to create, innovate,
      connect and succeed. It's also proving extremely costly to organisations by way of sickness,
      absenteeism and employee engagement.<br><br>
      We continue to believe that to be more productive we need to invest more time,
      continually multi-task and be forever available to the demands of technology.
      We rarely take time out to stop and reflect on whether there might be a better way to get more done,
      more sustainably and perhaps even at a higher level of quality.
</p>
  </div>
  <div class="about-right-one">
    <img src="assets/images/stressed-bw-web.jpg" alt="">
  </div>

  <div class="about-right-two clearfixsmall">
    <h5 class="orange h-right">IT’S TIME WE FOUND A BETTER WAY OF WORKING</h5>
    <h6>For employees, teams and organisations as a whole.</h6>
    <p class="right-paragraph">Based on the science of high performance,
      The Energy Principle introduces leaders and their teams to a better way of working,
      helping them to implement behaviours that increase and sustain personal and group effectiveness.
      These simple shifts in behaviour helps them spend less time in survival and more time
      in high performance – where they are most effective, more creative and do their best work.
</p>
  </div>
  <div class="about-left-two">
      <img src="assets/images/team-bw-web.jpg" alt="">
  </div>
</div>
