<div class="resources clearfixsmall">
  <div class="resource-hover resources-snapshot clearfixsmall">
    <h6><a href="assets/images/theEP-Capability-Statement.pdf" target="_blank">US IN A SNAPSHOT</a></h6>
    <svg-icon class="slant-image" src="assets\images\slant-purple.svg"></svg-icon>
  </div>
  <div class="resource-hover resources-blogs clearfixsmall">
    <h6><a routerLink="/blog">BLOGS</a></h6>
    <svg-icon class="slant-image" src="assets\images\slant-blue.svg"></svg-icon>
  </div>
  <div class="resource-hover resources-things clearfixsmall">
    <h6><a routerLink="/things" >THINGS TO SEE AND DO</a></h6>
    <svg-icon class="slant-image" src="assets\images\slant-orange.svg"></svg-icon>
  </div>
  <div class="resource-hover resources-ebook clearfixsmall">
    <h6><a href="assets/images/EBook-The-Energy-Principle.pdf" target="_blank">EBOOK</a></h6>
    <svg-icon class="slant-image" src="assets\images\slant-green.svg"></svg-icon>
  </div>
</div>
