<div class="contact clearfixsmall">
  <div class="contact-left clearfixsmall">
      <h4>Contact Us</h4>
      <p>Please call us should you wish to receive further information on any
of our service. Alternatively you can send us an email.<br><br>
      The Energy Principle<br>Suite 208<br>360 St Kilda Road<br>Melbourne<br>Victoria, Australia, 3004<br><br>
info@theenergyprinciple.com.au<br>
Phone: +61 3 9686 4550 or +61 418 140635</p>
  </div>
  <div class="contact-mid clearfixsmall">
    <h4>A Certified Supplier of Supply Nation.</h4>
    <a href="http://supplynation.org.au/" target="_blank"><svg-icon src="assets\images\supply-nation.svg" class="svg-supply-nation"></svg-icon></a>
  </div>
  <div class="contact-right clearfixsmall">
    <a href="https://twitter.com/EnergytoCreate" target="_blank"><svg-icon class="svg-icon-contact svg-contact-twitter" src="assets\images\twitter-logo-button.svg"></svg-icon></a>
    <a href="https://www.instagram.com/theenergyprinciple/" target="_blank"><svg-icon class="svg-icon-contact svg-contact-insta" src="assets\images\instagram-logo.svg"></svg-icon></a>
    <a href="https://www.facebook.com/TheEnergyPrinciple/" target="_blank"><svg-icon class="svg-icon-contact svg-contact-fb" src="assets\images\facebook-circular-logo.svg"></svg-icon></a>
  </div>
  <div class="contact-bottom clearfixsmall">
    <p>We acknowledge the traditional Aboriginal custodians of the lands upon which we live, learn and work and pay our respect to the elders both past, present and future for they hold the memories, the traditions, the culture and hopes of Aboriginal Australia. </p>
  </div>
</div>
