.contact {
  height: 450px;
  position: relative;
  box-sizing: border-box;
}

h4 {
  display: inline-block;
  margin: 40px 0 0 20px;
  font-family: "Georgia", serif;
  font-size: 18px;
  font-style: italic;
  color: #333333;
  letter-spacing: 1.3px;
}

p {
  display: inline-block;
  font-family: "Cabin", Helvetica, sans-serif;
	font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.5px;
  color: #333333;
  text-align: left;
  margin: 20px 20px;

}



.contact-left {

  width: 33.3%;
  height: 350px;
  position: absolute;
  left: 0;
}

.contact-mid {

  width: 33.3%;
  height: 350px;
  position: absolute;
  left: 33.3%;
}

.contact-right {
  width: 33.3%;
  height: 350px;
  position: absolute;
  left: 66.6%;
}

.contact-bottom {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 350px;
}

.svg-icon-contact{
  height: 75px;
  width: 100px;
  float: right;
  display: block;
  position: absolute;
  margin-top: -36px;
  right: 0px;
}

.svg-contact-fb{
  top: 25%;

}
.svg-contact-insta{
  top: 50%;
}
.svg-contact-twitter{
  top: 75%;
}

.svg-supply-nation {
  padding-left: 50%;
  margin-left: -67px;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {

  .contact {
    height: auto;
    position: relative;
    box-sizing: border-box;
    top: 1050px;
  }

  .contact-left {

    width: 100%;
    height: auto;
    position: static;
    left: 0;

  }

  .contact-mid {

    width: 100%;
    height: auto;
    position: static;
    left: 0;

  }

  .contact-right {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .contact-bottom {
    width: 100%;
    height: auto;
    position: static;
    left: 0;
    margin-top: 75px;
  }

  .svg-icon-contact{
    height: 75px;
    width: 75px;
    float: left;
    display: block;
    margin-top: 0px;
    margin-left: -36px;
    position: absolute;

  }

  .svg-contact-fb{
    left: 25%;
  }
  .svg-contact-insta{
    left: 50%;
  }
  .svg-contact-twitter{
    left: 75%;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }


}
