<nav>
  <ul>
    <li class="home-link"><span class="home-space">HOME</span></li>
    <li class="about-link"><span class="home-pipe"> | </span>ABOUT US</li>
    <li class="services-link"><span class="home-pipe"> | </span>OUR SERVICES</li>
    <li class="resources-link"><span class="home-pipe"> | </span>RESOURCES</li>
    <li class="capibility-link"><span class="home-pipe"> | </span><a href="assets/images/theEP-Capability-Statement.pdf" target="_blank">SNAPSHOT</a></li>
    <li class="contact-link"><span class="home-pipe"> | </span>CONTACT US</li>
  </ul>
  <svg-icon class="nav-background" src="assets/images/nav-background.svg"></svg-icon>
</nav>
