<div class="page-wrapper">
  <app-side-bar></app-side-bar>
  <div class="page-container">
      <app-nav-bar></app-nav-bar>
      <div class="main-content">
          <div class="section__content section__content--p30">
              <div class="container-fluid">
                    <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- <div>

<div class="page-container">
  <app-nav-bar></app-nav-bar>
</div>
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
      <div class="full-container">
          <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div> -->
