<app-nav></app-nav>
<div class="home clearfixsmall">
  <h1>WE HELP PEOPLE AND TEAMS<br>FIND A BETTER WAY OF WORKING</h1>
  <div class="home-left">
    <img src="assets\images\home-bw-web.jpg" alt="">
  </div>
  <div class="home-right">
      <div class="home-logo">
          <svg-icon class="svg-logo" src="assets\images\the-energy-principle-logo.svg"></svg-icon>
      </div>
      <div class="home-logo-small">
          <svg-icon class="svg-logo" src="assets\images\the-energy-principle-logo-small.svg"></svg-icon>
      </div>
      <svg-icon src="assets\images\blue-trap.svg"></svg-icon>
  </div>
  <div class="home-cert">
    <h2>BROUGHT TO YOU BY QUALIA GLOBAL LEARNING NETWORK PTY LTD</h2>
    <h3>A CERTIFIED SUPPLIER OF SUPPLY NATION.</h3>

  </div>
  <div class="home-overview clearfixsmall">
    <h6>Business overview</h6>
    <h5>We work with individual business owners, corporate leaders and teams to introduce them to a set of strategies to help them be healthier, happier, more focused and more purposeful in both life and work.</h5>
    <h5>Specifically, we help individuals replace managing time to managing energy. By doing so they learn how to balance intense focus with regular renewal so they move out of survival mode and into  performance mode where they are most engaged, more effective, and do their best work.</h5>
  </div>
  <div class="home-links clearfixsmall">
      <div class="home-links-keynotes">
        <h4>KEYNOTES</h4><svg-icon class="slant-image home-svg" src="assets\images\slant-green-small.svg"></svg-icon>
      </div>
      <div class="home-links-programs">
        <h4>PROGRAMS</h4><svg-icon class="slant-image home-svg" src="assets\images\slant-orange-small.svg"></svg-icon>
      </div>
      <div class="home-links-coaching">
        <h4>COACHING</h4><svg-icon class="slant-image home-svg" src="assets\images\slant-purple-small.svg"></svg-icon>
      </div>
  </div>

</div>
<app-about></app-about>
<app-services></app-services>
<app-resources></app-resources>
<app-testimonial></app-testimonial>

<app-contact></app-contact>
